---
---

@import "variables";
@import "fonts";

.container {
  max-width: 64em;
  width: 88%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto; 
}


@import "highlights";
