
html {
  font-size: $basic-font-size;
  overflow-y: scroll;
  @include box-sizing(border-box);
  @include font-smoothing();
  @include mq(sm) {
    font-size: 112.5%
  }
  @include mq(md) {
    font-size: 125%;
  }
  @include mq(lg) {
    font-size: 137.5%;
  }
  @include mq(xl) {
    font-size: 150%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $body-font-family;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.container {
  max-width: $max-width;
  width: 88%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto; 
}

// Selection

::-moz-selection {
  background-color: $selection-color;
  color: rgb(255, 255, 255);
  text-shadow: none;
}

::selection {
  background-color: $selection-color;
  color: rgb(255, 255, 255);
  text-shadow: none;
}