//
// VARIABLES
//

$basic-background: rgb(255, 255, 255) !default;
$basic-text-color: rgb(51, 51, 51) !default;
$basic-font-size: 100% !default;
$basic-font-weight: 400 !default;
$basic-line-height: 1.618 !default;

$body-background-color: rgb(255,255,255) !default;
$body-text-color: rgb(51, 51, 51) !default;
$body-font-size: 16px !default;
$body-line-height: 1.5 !default;

//Fonts
$sans-family: 'Open Sans', sans-serif !default;
$monospace-family: Menlo, Monaco, Consolas, "Courier New", monospace !default;

$body-font-family: 'LatoLight', Helvetica, Arial, sans-serif !default;
$heading-font-family: $sans-family !default;
$button-font-family: $sans-family !default;

// Code
$code-background-color: rgb(178, 178, 178);
$code-font-family: Consolas, "Liberation Mono", Courier, monospace !default;
$code-font-size: .9em;


$blue: #0076df !default;

// Links
$link-color: $blue !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-visited-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Headings
$heading-weight: 400 !default;
$heading-color: $blue !default;

$selection-color: rgb(86, 148, 241) !default;

$max-width: 64em !default;

// Breakpoints
$sm: 30em !default;
$md: 40em !default;
$lg: 64em !default;
$xl: 90em !default;
