<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{site.name}}</title>
    <meta name="author" content="{{site.author.name}}">
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="{{ site.url }}/style.css" />

    <link rel="icon" href="{{ site.url }}/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/apple-touch-icon.png" />
  </head>
  <body>
    <header role="banner">
      <div class="container">		
        <a href="/" class="logo">
          <img src="/" class="logo-img" alt="">
		  <h1> {{ site.sitename }} </h1>
        </a>
        <div class="toggle-nav"></div>
        <nav role="navigation">
          <ul>
            <li {% if page.home %}class="current"{% endif %}>
              <a href="{{ site.url }}/">Home</a>
            </li>
            <li {% if page.blog %}class="current"{% endif %}>
              <a href="{{ site.url }}/blog/">Blog</a>
            </li>
            <li {% if page.about %}class="current"{% endif %}>
              <a href="{{ site.url }}/about/">About</a>
            </li>
          </ul>
        </nav>
      </div>			
    </header>
    <main role="main">
      <div class="container">		
        {{ content }}
      </div>
    </main>
    <footer role="contentinfo">
      <div class="container">
        <p>&copy; {{ site.time | date: "%Y" }} lechoo</p>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>
	<script src="js/scripts.js"></script>		
  </body>
</html>